/*-------------------------------------------------generique style-------------------------------------------------------------- */
body
{
    background-image: url("imageFond/fondBois2.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, Arial, Helvetica, sans-serif, monospace;
    color: black;
}

a
{
   color:  rgb(165, 53, 4);
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.555); 
   font-weight: bold;
}


/*-------------------------------------------------Header -------------------------------------------------------------- */
header
{
    background-color: rgba(107, 60, 6, 0.356);
    height: 160px;
    margin-right: 120px ;
    margin-left: 120px ;
    margin-bottom: 50px;
    border: 2px rgb(165, 53, 4) solid;
    border-radius: 10px;
    box-shadow: 6px 6px 0px black;
}

#conteneur1
{
    display: flex;  
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.555);
    padding-top: 20px;
}

#conteneur2
{
    display: flex;  
    justify-content: flex-end;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.555); 
}

.element3, .element4
{ 
    font-size: 1.5em;
    margin-left: 20px;
    margin-right: 20px;
}

/*-------------------------------------------------Sections home page-------------------------------------------------------------- */

#conteneur3
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content: center;
}

.section
{
    background-color: rgba(107, 60, 6, 0.356);
    margin-bottom: 30px;
    width: 50%;
    text-align: center;
    border: 2px black solid;
    box-shadow: 2px 2px 4px black;
    border-radius: 10px;
}

section h2
{
    color:rgb(0, 0, 0);
    text-decoration: underline;
}

section p
{
    font-size: 1.4em;
    text-align: center;

}

section em
{
    font-weight: bold;

}

section img 
{
    border: 3px rgb(165, 53, 4) solid;
    
}

/*------------------------------------------------- pages Produits -------------------------------------------------------------- */
#conteneurProduit
{
    background-color: rgba(107, 60, 6, 0.356);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    width: 800px;
    margin: auto;
    border: 2px black solid;
    box-shadow: 2px 2px 4px black;
    border-radius: 10px;
    padding-bottom: 25px;
    
}

#conteneurProduit h2
{
    text-decoration: underline;
    font-size: 1.8em;
}

#conteneurProduit img
{
    border: 2px rgb(165, 53, 4) solid
}

#conteneurProduit p
{
    font-size: 1.2em;
}

#conteneurProduit em
{
    font-weight: bold;
}

#conteneurProduit .e
{
    background-color: rgba(107, 60, 6, 0.473);
}

#conteneurProduit h3
{
    font-size: 1.2em;
    text-decoration: underline;
}


/*------------------------------------------------- Footer -------------------------------------------------------------- */

footer
{
    background-color: rgba(107, 60, 6, 0.356);
    height: 160px;
    margin-top: 30px;
    margin-right: 120px ;
    margin-left: 120px ;
    border: 2px rgb(165, 53, 4) solid;
    border-radius: 10px;
    box-shadow: 6px 6px 0px black;
}

 #conteneur4
 {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
 }


 .element8, .element9
 {
    align-self:flex-end;
 }

 body p
 {
    text-align: right;
 }