/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  
  /*-------------------------------------------------generique style-------------------------------------------------------------- */
  /*body background image covers the entire page, default font is "Courier new", font color in black*/
  body
  {
      background-image: url("imageFond/fondBois2.jpg");
      background-size: cover;
      background-attachment: scroll;
      background-repeat: no-repeat;
      font-family: 'Courier New', Courier, Arial, Helvetica, sans-serif, monospace;
      color: black;
      margin: 0;
      padding: 0;
      min-height: 100vh;
  }
  
  html{
      min-height: 100vh;
  }
  
  /*by default the links "a" are in rgb (165,53,4), with shadow and in bold*/
  a
  {
     color:  rgb(165, 53, 4);
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.555); 
     font-weight: bold;
  }
  
  a:hover
  {
     color:  rgb(0, 0, 0);
     text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.555); 
     font-weight: bold;
  }
  
  /*copy right is aligned to the right of all pages*/
  .copyRight
  {
      text-align: right;
  }
  /*-------------------------------------------------Header ---------------------------------------------------------------------- */
  /* header contains logo, title and navigation menu */
  header
  {
      background-color: rgba(107, 60, 6, 0.356);
      height: 160px;
      margin-right: 120px ;
      margin-left: 120px ;
      margin-bottom: 50px;
      border: 2px rgb(165, 53, 4) solid;
      border-radius: 10px;
      box-shadow: 6px 6px 0px black;
  }
  
  /* container 1, contains logo and title */
  #conteneur1
  {
      display: flex;  
      justify-content: center;
      align-items: center;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.555);
      padding-top: 20px;
  }
  
  .element2
  {
      font-size: 1.3em;
  }
  
  /* container 2, the navigation Menu */
  #conteneur2
  {
      display: flex;  
      justify-content: flex-end;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.555); 
  }
  
  /* element3 and element4, are "home page" and "who are we"  */
  .element3, .element4
  { 
      font-size: 1.5em;
      margin-left: 20px;
      margin-right: 20px;
  }
  
  /*-------------------------------------------------Sections home page-------------------------------------------------------------- */
  /* container 3, contains the sections */
  #conteneur3
  {
      display: flex;
      flex-direction: column;
      align-items: center;
     
  }
  
  /* default style of sections */
  .section
  {
      background-color: rgba(107, 60, 6, 0.356);
      margin-bottom: 30px;
      width: 60%;
      text-align: center;
      border: 2px black solid;
      box-shadow: 2px 2px 4px black;
      border-radius: 10px;
      align-items: center;
  }
  
  .section:hover
  {
      background-color: rgba(107, 60, 6, 0.219);
      margin-bottom: 30px;
      width: 60%;
      text-align: center;
      border: 2px black solid;
      box-shadow: 4px 4px 8px black;
      border-radius: 10px;
  }
  
  /* default style H2 of sections */
  .section h2
  {
      color:rgb(0, 0, 0);
      text-decoration: underline;
  }
  
  /* default style P of sections */
  .section p
  {
      font-size: 1.4em;
      text-align: center;
  }
  /* default style em of sections */
  .section em
  {
      font-weight: bold;
  }
  /* default style img of sections */
  .section img 
  {
      border: 3px rgb(165, 53, 4) solid;
  }
  
  .section a
  {
      font-size: 1.1em;
  }
  
  /*------------------------------------------------- pages Products -------------------------------------------------------------- */
  /* containerProduct, contains the products photo and technical description */
  #conteneurProduit
  {
      background-color: rgba(107, 60, 6, 0.356);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      text-align: center;
      width: 60%;
      margin: auto;
      border: 2px black solid;
      box-shadow: 2px 2px 4px black;
      border-radius: 10px;
      padding-bottom: 25px;
  }
  
  /* default style H2 of products */
  #conteneurProduit h2
  {
      text-decoration: underline;
      font-size: 1.8em;
  }
  /* default style img of products */
  #conteneurProduit img
  {
      border: 2px rgb(165, 53, 4) solid
  }
  /* default style P of products */
  #conteneurProduit p
  {
      font-size: 1.4em;
  }
  /* default style em of products */
  #conteneurProduit em
  {
      font-weight: bold;
  }
  /* default style .e of products */
  #conteneurProduit .e
  {
      font-size: 1.1em;
      background-color: rgba(107, 60, 6, 0.473);
  }
  /* default style H3 of products */
  #conteneurProduit h3
  {
      font-size: 1.2em;
      text-decoration: underline;
  }
  /*------------------------------------------------- Who we are page -------------------------------------------------------------- */
  /* containerGeneral, contains the society description and team's photos with names */
  #conteneurGeneral
  {
      display: flex;
      flex-direction: column;
      background-color: rgba(107, 60, 6, 0.356);
      border: 2px black solid;
      box-shadow: 2px 2px 4px black;
      border-radius: 10px;
      width: 700px;
      margin: auto;
  }
  
  /* default style H2 and P of society description */
  .elementG1, .elementG2
  {
      text-align: center;
      font-size: 1.1em;
  }
  
  /* containerPhoto, contains the team's photos with names */
  #conteneurPhoto
  {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 600px;
      margin: auto;
  }
  /* containerPhoto, contains photos with names */
  figure
  {
      text-align: center;
      border: 2px black solid;
      box-shadow: 2px 2px 4px black;
      border-radius: 10px;
      font-weight: bold;
  }
  
  figcaption
  {
      font-size: 1.1em;
  }
  /*------------------------------------------------- Legal Notice -------------------------------------------------------------- */
  /* main, contains the title and the text of the legal notices */
  main
  {
      background-color: rgba(107, 60, 6, 0.356);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content:space-between;
      align-content: center;
      border: 2px black solid;
      box-shadow: 2px 2px 4px black;
      border-radius: 10px;
  }
  /* style Title */
  .titreMentionL
  {
      text-align: center;
      text-decoration: underline;
  }
  /* style P */
  .pMentionL
  {
      text-align: center;
      width: 50%;
  }
  /*------------------------------------------------- Footer -------------------------------------------------------------- */
  /* footer, contains logo, contacts, legal notice and social's media logo */
  footer
  {
      background-color: rgba(107, 60, 6, 0.356);
      height: 160px;
      margin-top: 40px;
      margin-right: 120px ;
      margin-left: 120px ;
      border: 2px rgb(165, 53, 4) solid;
      border-radius: 10px;
      box-shadow: 6px 6px 0px black;
      margin-bottom: 0;
  }
  /* conteneur4, elements logo, contacts, legal notice and social's media logo */
  #conteneur4
  {
      display: flex;
      justify-content: space-around;
      align-content: center;
      align-items: center;
  }
   /* contact's style */
  .element8, .element9
  {
      align-self:flex-end;
  }
  /* contact's style */
  .element7
  {
      margin-left: 10px;
  }
  
  .element7 p
  {
      font-size: 1.1em;
  }
  /* Logo's style */
  .element6
  {
      margin-left: 10px;
  }
  
  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }